.navigationButtons {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
  }
   
  .navigationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2186ab;
    color: #2186ab;
    cursor: pointer;
  }
   
  .navigationButtons a:hover {
    color: white;
    background-color: #2186ab;
  }
   
  .navigationActive a {
    color: white;
    background-color: #2186ab;
  }
   
  .navigationDisabled a {
    color: white;
    background-color: rgb(129, 193, 245);
  }